One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [5]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
data = pd.read_csv('machine.txt', delimiter = "\t")

In [20]:
data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [ ]:
# H0 = there is no difference

In [27]:
data['    Old machine']

0    42.7
1    43.6
2    43.8
3    43.3
4    42.5
5    43.5
6    43.1
7    41.7
8    44.0
9    44.1
Name:     Old machine, dtype: float64

In [28]:
st.ttest_rel(data['New machine'], data['    Old machine'])

# st.ttest_rel(blood_pressure['after'], blood_pressure['before'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [ ]:
# The p-value is below 0.05.  So we can reject the null hypothesis; meaning that there is no evidence to support that there
# is no difference between the machines.

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [29]:
data = pd.read_csv('pokemon.csv')

In [30]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [33]:
data.shape

(800, 13)

In [ ]:
# null hypothesis

# H0 = defense and attack scores are equal

In [ ]:
# If defense and attack are equal, there means would also be equal.  

# Take sample of Attack and calculate mean
# Take sample of Defense, and test mean against Attack mean

In [34]:
c1_sample = data['Attack'].sample(30)

In [38]:
# Mean of sample of Attack

sum(c1_sample)/len(c1_sample)

82.36666666666666

In [39]:
c2_sample = data['Defense'].sample(30)

In [40]:
st.ttest_1samp(c2_sample,sum(c1_sample)/len(c1_sample))

Ttest_1sampResult(statistic=-0.2337916918938756, pvalue=0.8167892710222547)

In [ ]:
# The p-value is above 0.05.  So there is no evidence to reject the null hypothesis.